div
    div.col-sm-8.col-md-8.col-lg-8.search-content
        div.input-group
            span.input-group-addon
                i.glyphicon.glyphicon-search
            input.form-control(type="text", placeholder="Search", ng-model="CC.query")
    div.col-sm-4.col-md-4.col-lg-4.search-content
        button.btn.btn-default(ng-click="CC.customerSearch()") Search